<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>

    <%-include("includes/headLink") %>

    <link rel="stylesheet" href="/public/styles/index.css" />
  </head>

  <body>
    <header>
      <%-include("includes/nav") %>
    </header>

    <main>
      <section class="history">
        
        <h2>the history of restaurants:</h2>

        <br />
        <ul>
          <li>
            <h3>Ancient Times:</h3>
            <p>
              Public eating establishments similar to restaurants are mentioned
              in a 512 BC record from Ancient Egypt. They served only one dish,a
              plate of cereal, wild fowl, and onions. In Ancient Greece and
              Rome, establishments called thermopolia sold and served
              ready-to-eat food and beverages. These were frequented by people
              who lacked private kitchens.
            </p>
            <br />
          </li>

          <li>
            <h3>Sung Dynasty (960 to 1279):</h3>
            <p>
              This period marked a wonderful time of cultural and culinary
              achievement in China. The end of a widespread famine led to the
              rise of agricultural commerce. Open-air markets allowed everyday
              people and urban cooks to buy more produce, herbs, and other
              ingredients than ever before. Luxury foods became popular, and
              cities like Hangchow and Kaifeng cultivated a rich restaurant
              culture.
            </p>
            <br />
          </li>

          <li>
            <h3>18th Century:</h3>
            <p>
              The term ‘restaurant’ first appeared in France. It referred to a
              reinvigorating meat broth which people ate to refortify the body.
            </p>
            <br />
          </li>

          <li>
            <h3>19th Century:</h3>
            <p>
              The use of the term "restaurant" for the establishment itself only
              became common in the 19th century.
            </p>
          </li>
        </ul>
      </section>

      <section class="browseoradd">
        <ul>
          <li>
            <a href="../views/browesresturant.html">browes restaurants</a>
          </li>
          <li><a href="../views/addresturant.html">add restaurants</a></li>
        </ul>
      </section>
    </main>
  </body>
</html>
