/* :root{
    --main-clr:hsl(40, 90%, 70%, 0.9) ;
    --second-clr: hsl(40, 90%, 80%, 0.8); ;
    --font-clr:hsl(0, 0%, 20%);
    --hover-clr:hsl(40, 80%, 60%,0.5);

} */

main {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
    


form {

    background-color: var(--main-clr);
    padding: 4rem ;
    margin-top: 20rem;
    margin-bottom: 10rem;
    border-radius: 3rem;

    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
form div{
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}
form label{
    font-size: 1.5rem;
    color: var(--font-clr);
    font-weight: 600;
}
form input, form input:focus,form input:active, textarea{
    padding: 0.75rem;
    font-size: 1rem;
    background-color: transparent ;
    border-radius: 1rem;
    color: var(--font-clr);
    border: 0.1rem solid var(--font-clr);
}
form input[type="file"]{
display: none ;
}
form [for="image"]{
    font-size: 2rem;
    font-weight: 800;
}

form input[type="submit"]{
    
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 2rem;
}
form input[type="submit"]:hover {
    
background-color: var(--second-clr);
    
}

