


main {
    width: 100%;
    text-align: center;
    margin: 16rem auto;
}


.restaurant-info  {
    width: 70%;
    margin: auto;
    background-color: var(--second-clr);
    border-radius: 6rem ;


    display: grid;
    grid-auto-rows: minmax(100px, 50%);
    grid-template-columns: 1fr;
    grid-template-areas: 
    'one'
    'two';
}



.restaurant-info img{
    /* width: 50%; */
    min-height: 100%;
    filter: sepia(20%);
    grid-area: one;
    width: 100%;
    height: 50%;
    

}
.restaurant-info img:hover {
    filter: sepia(50%);
  }

.restaurant-info div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    min-height: 100%;
    padding: 1rem;
    gap: 0.5rem;
    grid-area:two; 
    text-align: center;
    align-items: center;
}

.restaurant-info div p{
    font-size: 2.5rem;
    text-align: center;
    /* min-height: 100%; */
}
.restaurant-info div span{
    font-size: 2.25rem;
    color: hsl(0, 0%, 15%);

}


@media(max-width:350px){
    .restaurant-info div p{
        font-size: 1.5rem;
        text-align: center;
        /* min-height: 100%; */
    }
    .restaurant-info div span{
        font-size: 1.25rem;
        color: hsl(0, 0%, 15%);
    
    }
}


@media(min-width:1250px){
    .restaurant-info  {
        width: 50%;
        margin: auto;
        background-color: var(--second-clr);
        border-radius: 6rem ;
    
    
        display: grid;
        grid-auto-rows: minmax(100px, 50%);
        grid-template-columns: 1fr;
        grid-template-areas: 
        'one'
        'two';
    }
}
