main{
        width: 70%;
        text-align: center;
        margin: 20rem auto;
        background-color: hsl(0, 0%, 20%,0.4);
}

main p, main span{

font-size: 1.75rem;
font-weight: 800;
}
p{
    color: var(--main-clr);
    background-color: hsl(0, 0%, 20%,0.4);
    padding: 3rem;
    border-radius: 3rem;
}
.successded{
    color: hsl(85, 100%, 70%);
    font-size: 2rem;
}

.failed{
    color: hsl(0, 100%, 70%);
}